doorbell-flows.json
[{"id":"9aa60b0e.030db8","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"245c1436.736c3c","type":"rpi-gpio in","z":"9aa60b0e.030db8","name":"Doorbell Pin","pin":"3","intype":"tri","debounce":"25","read":false,"x":150,"y":260,"wires":[["b0e69a0e.25ab78"]]},{"id":"92519c17.3a6c3","type":"debug","z":"9aa60b0e.030db8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1050,"y":120,"wires":[]},{"id":"b0e69a0e.25ab78","type":"function","z":"9aa60b0e.030db8","name":"","func":"msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Ring','doorbell1', DEFAULT);\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":260,"wires":[["83fd1f3e.679ae"]]},{"id":"53af88e2.dd8f88","type":"postgres","z":"9aa60b0e.030db8","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":1130,"y":260,"wires":[]},{"id":"83fd1f3e.679ae","type":"function","z":"9aa60b0e.030db8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["92519c17.3a6c3","53af88e2.dd8f88"]]},{"id":"8e7aec60.fefa3","type":"mqtt in","z":"9aa60b0e.030db8","name":"","topic":"doorbell-lock-12345","qos":"2","datatype":"auto","broker":"6b6ec6ca.6b4dd8","x":310,"y":420,"wires":[["996096bf.4800d8","ea14f810.24de88"]]},{"id":"996096bf.4800d8","type":"debug","z":"9aa60b0e.030db8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":420,"wires":[]},{"id":"ea14f810.24de88","type":"function","z":"9aa60b0e.030db8","name":"","func":"if (msg.payload == \"lock\") {\n    msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Lock','doorbell1', DEFAULT);\";\n}\nelse {\n    msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Unlock','doorbell1', DEFAULT);\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":520,"wires":[["1318bca3.1f7153"]]},{"id":"a8152091.174f7","type":"postgres","z":"9aa60b0e.030db8","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":950,"y":520,"wires":[]},{"id":"1318bca3.1f7153","type":"function","z":"9aa60b0e.030db8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":520,"wires":[["a8152091.174f7"]]},{"id":"d2b7e391.cd77a","type":"postgresdb","hostname":"doorbell-postgre-server.postgres.database.azure.com","port":"5432","db":"doorbelldb","ssl":false},{"id":"6b6ec6ca.6b4dd8","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
