Flows on Raspberry Pi
[{"id":"9aa60b0e.030db8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4e0647aa.1348f8","type":"tab","label":"Lock/Unlock","disabled":false,"info":""},{"id":"97192799.714bd","type":"subflow","name":"Stepper Motor","info":"","in":[{"x":160,"y":100,"wires":[{"id":"92e9f528.857ba"}]}],"out":[{"x":1044,"y":79,"wires":[{"id":"b833a444.b121f8","port":0}]},{"x":1041,"y":137,"wires":[{"id":"b833a444.b121f8","port":1}]},{"x":1042,"y":189,"wires":[{"id":"b833a444.b121f8","port":2}]},{"x":1044,"y":242,"wires":[{"id":"b833a444.b121f8","port":3}]},{"x":1025,"y":379,"wires":[{"id":"b833a444.b121f8","port":4},{"id":"8aa480a.a401a","port":0}]}]},{"id":"6bfc643d.e08d3c","type":"postgresDB","name":"test","host":"doorbell-postgre-server.postgres.database.azure.com","port":"5432","database":"doorbelldb","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"d2b7e391.cd77a","type":"postgresdb","hostname":"doorbell-postgre-server.postgres.database.azure.com","port":"5432","db":"doorbelldb","ssl":false},{"id":"52b536.19316acc","type":"websocket-listener","path":"/usr/pi","wholemsg":"true"},{"id":"904f901.a63c27","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aac4fc3.bc712","type":"postgresdb","hostname":"doorbell-postgre-server.postgres.database.azure.com","port":"5432","db":"doorbelldb","ssl":false},{"id":"4ea3e602.03a598","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6b208fce.acc5f","type":"ui_group","name":"Default","tab":"4ea3e602.03a598","order":1,"disp":true,"width":"6","collapse":false},{"id":"488ddf37.62fd2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e9eda69d.7f67f8","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"245c1436.736c3c","type":"rpi-gpio in","z":"9aa60b0e.030db8","name":"Doorbell Pin","pin":"3","intype":"tri","debounce":"25","read":false,"x":270,"y":260,"wires":[["b0e69a0e.25ab78","86671d4e.16c17"]]},{"id":"92519c17.3a6c3","type":"debug","z":"9aa60b0e.030db8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":850,"y":200,"wires":[]},{"id":"b0e69a0e.25ab78","type":"function","z":"9aa60b0e.030db8","name":"","func":"msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Ring','doorbell1', DEFAULT);\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":260,"wires":[["83fd1f3e.679ae"]]},{"id":"53af88e2.dd8f88","type":"postgres","z":"9aa60b0e.030db8","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":870,"y":260,"wires":[]},{"id":"83fd1f3e.679ae","type":"function","z":"9aa60b0e.030db8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["53af88e2.dd8f88","92519c17.3a6c3"]]},{"id":"4468dd0b.4c8e14","type":"function","z":"9aa60b0e.030db8","name":"","func":"msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Ring','doorbell1', DEFAULT);\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":480,"wires":[["fc7b086d.b704b8"]]},{"id":"8eca0ff5.ad825","type":"postgres","z":"9aa60b0e.030db8","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":910,"y":480,"wires":[]},{"id":"fc7b086d.b704b8","type":"function","z":"9aa60b0e.030db8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":480,"wires":[["8eca0ff5.ad825"]]},{"id":"fb60dc78.a1a28","type":"inject","z":"9aa60b0e.030db8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":480,"wires":[["4468dd0b.4c8e14"]]},{"id":"f163b47a.25c878","type":"debug","z":"9aa60b0e.030db8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":850,"y":620,"wires":[]},{"id":"3265d792.797688","type":"function","z":"9aa60b0e.030db8","name":"","func":"msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Lock','doorbell1', DEFAULT);\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":700,"wires":[["410d66d2.6deac8"]]},{"id":"1bbfd9b2.57f7c6","type":"postgres","z":"9aa60b0e.030db8","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":870,"y":700,"wires":[]},{"id":"410d66d2.6deac8","type":"function","z":"9aa60b0e.030db8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":700,"wires":[["1bbfd9b2.57f7c6","f163b47a.25c878"]]},{"id":"3fead502.0c132a","type":"rpi-gpio in","z":"9aa60b0e.030db8","name":"Lock Pin","pin":"16","intype":"tri","debounce":"25","read":false,"x":260,"y":700,"wires":[["3265d792.797688"]]},{"id":"15953044.65aaf","type":"mqtt in","z":"9aa60b0e.030db8","name":"Receive MQTT command from broker","topic":"doorbell-lock-12345","qos":"2","datatype":"auto","broker":"904f901.a63c27","x":330,"y":900,"wires":[["a417a244.083c4","75348f5e.cb031","1425924e.78546e"]]},{"id":"a417a244.083c4","type":"debug","z":"9aa60b0e.030db8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":980,"wires":[]},{"id":"b7ced442.18f0f8","type":"trigger","z":"4e0647aa.1348f8","name":"","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","overrideDelay":"false","units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":160,"wires":[["321bc6b.2b3543a"]]},{"id":"3161ccbf.edee34","type":"rpi-gpio out","z":"4e0647aa.1348f8","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":1260,"y":140,"wires":[]},{"id":"cc537c96.2bfae","type":"debug","z":"4e0647aa.1348f8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1270,"y":220,"wires":[]},{"id":"2327dbbc.f4dc14","type":"rpi-gpio out","z":"4e0647aa.1348f8","name":"","pin":"12","set":"","level":"0","freq":"","out":"out","x":1280,"y":600,"wires":[]},{"id":"eac3fa04.1ae9f8","type":"trigger","z":"4e0647aa.1348f8","name":"","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","overrideDelay":"false","units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":600,"wires":[["4c2527b6.cd38e8"]]},{"id":"4321b116.48c71","type":"debug","z":"4e0647aa.1348f8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1290,"y":500,"wires":[]},{"id":"581f759.c24f58c","type":"debug","z":"4e0647aa.1348f8","name":"Log","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1170,"y":680,"wires":[]},{"id":"583f003d.e68b4","type":"function","z":"4e0647aa.1348f8","name":"","func":"msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Unlock','doorbell1', DEFAULT);\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":740,"wires":[["93bbde28.d049e"]]},{"id":"dfb69f04.30d6b","type":"postgres","z":"4e0647aa.1348f8","postgresdb":"aac4fc3.bc712","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":1190,"y":740,"wires":[]},{"id":"93bbde28.d049e","type":"function","z":"4e0647aa.1348f8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":740,"wires":[["dfb69f04.30d6b","581f759.c24f58c"]]},{"id":"c9c15b0b.ceb6a8","type":"debug","z":"4e0647aa.1348f8","name":"Log","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1250,"y":300,"wires":[]},{"id":"1454b69d.47e8a9","type":"function","z":"4e0647aa.1348f8","name":"","func":"msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Lock','doorbell1', DEFAULT);\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":360,"wires":[["e7947166.4d84b"]]},{"id":"40da613b.5eea6","type":"postgres","z":"4e0647aa.1348f8","postgresdb":"aac4fc3.bc712","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":1270,"y":360,"wires":[]},{"id":"e7947166.4d84b","type":"function","z":"4e0647aa.1348f8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":360,"wires":[["40da613b.5eea6","c9c15b0b.ceb6a8"]]},{"id":"d92087a4.a664e8","type":"ui_button","z":"4e0647aa.1348f8","name":"Lock","group":"6b208fce.acc5f","order":0,"width":0,"height":0,"passthru":false,"label":"Lock","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lock","payloadType":"str","topic":"","x":590,"y":180,"wires":[["b7ced442.18f0f8","1454b69d.47e8a9"]]},{"id":"cbe6832d.413dc","type":"ui_button","z":"4e0647aa.1348f8","name":"Unlock","group":"6b208fce.acc5f","order":1,"width":0,"height":0,"passthru":false,"label":"Unlock","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":590,"y":600,"wires":[["eac3fa04.1ae9f8","583f003d.e68b4"]]},{"id":"321bc6b.2b3543a","type":"function","z":"4e0647aa.1348f8","name":"","func":"if (msg.payload == \"0\") {\n    msg.payload = \"1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":140,"wires":[["3161ccbf.edee34","cc537c96.2bfae"]]},{"id":"4c2527b6.cd38e8","type":"function","z":"4e0647aa.1348f8","name":"","func":"if (msg.payload == \"1\") {\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":560,"wires":[["4321b116.48c71","2327dbbc.f4dc14"]]},{"id":"8aa480a.a401a","type":"function","z":"97192799.714bd","name":"Toggle Direction","func":"var direction = flow.get('direction')||0;\n\nif (direction === -1)\n{\n    direction = 1;\n}\nelse {\n    direction = -1;\n}\nflow.set('direction',direction);\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":267,"wires":[[]]},{"id":"92e9f528.857ba","type":"switch","z":"97192799.714bd","name":"Step or Direction","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Step","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","outputs":2,"x":291,"y":171,"wires":[["1dff41aa.06dbde"],["8aa480a.a401a"]]},{"id":"34fcd685.ab0932","type":"comment","z":"97192799.714bd","name":"Flow Variables","info":"* Direction\n* Sequence\n* SequenceIndex","x":279,"y":42,"wires":[]},{"id":"b833a444.b121f8","type":"function","z":"97192799.714bd","name":"Sequence Generator","func":"var seqindex = context.get('seqindex')||0;\nvar sequence = [ [1,0,0,0],[1,1,0,0],[0,1,0,0],[0,1,1,0],[0,0,1,0],[0,0,1,1],[0,0,0,1],[1,0,0,1]]\nvar direction = flow.get('direction');\n\nseqindex = (seqindex % (sequence.length));\nif (seqindex == -1) {seqindex = sequence.length-1;}\n\nmsg.payload = sequence[seqindex];\nmsg.seqindex = seqindex;\nmsg.direction = direction;\n\ncontext.set('seqindex',seqindex+direction);\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Step\"});\nnode.status({});\n\nreturn GenerateOutput(seqindex);\n\nfunction GenerateOutput(index) {\n    return [ NewMessage(sequence[index][0]), NewMessage(sequence[index][1]),NewMessage(sequence[index][2]),NewMessage(sequence[index][3]), msg  ];\n}\n\nfunction NewMessage(val) {\n    return { payload:val };\n}","outputs":"5","noerr":0,"x":720,"y":174,"wires":[[],[],[],[],[]]},{"id":"1dff41aa.06dbde","type":"function","z":"97192799.714bd","name":"Multistep","func":"var outputMsgs = [];\nvar steps = msg.payload;\nfor (var count = 0; count < steps; count++) { \n    outputMsgs.push({payload:1});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":434,"y":90,"wires":[["637b5925.225a28"]]},{"id":"637b5925.225a28","type":"delay","z":"97192799.714bd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":615,"y":76,"wires":[["b833a444.b121f8"]]},{"id":"ccd2e872.745a88","type":"inject","z":"9aa60b0e.030db8","name":"Lock","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"lock","payloadType":"str","x":470,"y":780,"wires":[["75348f5e.cb031"]]},{"id":"75348f5e.cb031","type":"udp out","z":"9aa60b0e.030db8","name":"Command to motor controller at UDP 6600","addr":"127.0.0.1","iface":"","port":"6600","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":820,"y":820,"wires":[]},{"id":"f0ef1829.012b58","type":"inject","z":"9aa60b0e.030db8","name":"Unlock","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unlock","payloadType":"str","x":450,"y":840,"wires":[["75348f5e.cb031"]]},{"id":"b78d6d6b.f8642","type":"udp in","z":"9aa60b0e.030db8","name":"Status from motor controller via UDP 6700","iface":"","port":"6700","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":340,"y":1080,"wires":[["a417a244.083c4","6808379a.4d9e68"]]},{"id":"1425924e.78546e","type":"function","z":"9aa60b0e.030db8","name":"","func":"if (msg.payload == \"lock\") {\n    msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Lock sent','doorbell1', DEFAULT);\";\n}\nelse {\n    msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Unlock sent','doorbell1', DEFAULT);\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":900,"wires":[["33504220.e4b71e"]]},{"id":"3779c27f.b54bee","type":"postgres","z":"9aa60b0e.030db8","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":1110,"y":900,"wires":[]},{"id":"33504220.e4b71e","type":"function","z":"9aa60b0e.030db8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":900,"wires":[["3779c27f.b54bee"]]},{"id":"3b76ecf3.f24384","type":"function","z":"9aa60b0e.030db8","name":"","func":"if (msg.payload == \"Successfully locked.\") {\n    msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Successfully locked','doorbell1', DEFAULT);\";\n}\nelse if (msg.payload == \"Successfully unlocked.\")  {\n    msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Successfully unlocked','doorbell1', DEFAULT);\";\n}\nelse if (msg.payload == \"Already locked.\")  {\n    msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Already locked','doorbell1', DEFAULT);\";\n}\nelse {\n    msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Already unlocked','doorbell1', DEFAULT);\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1040,"wires":[["f0c76b4e.5c0958"]]},{"id":"f0c76b4e.5c0958","type":"function","z":"9aa60b0e.030db8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":960,"wires":[["3779c27f.b54bee"]]},{"id":"6808379a.4d9e68","type":"delay","z":"9aa60b0e.030db8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":1100,"wires":[["3b76ecf3.f24384"]]},{"id":"658abee.b3d354","type":"inject","z":"9aa60b0e.030db8","name":"Send e-mail","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Subject: This is a test from Node-RED","payload":"This is the body","payloadType":"str","x":290,"y":380,"wires":[["daf764bb.b7e4f8"]]},{"id":"daf764bb.b7e4f8","type":"e-mail","z":"9aa60b0e.030db8","server":"smtpauth.earthlink.net","port":"587","secure":false,"tls":false,"name":"yuriv@gate.net","dname":"","x":660,"y":380,"wires":[]},{"id":"86671d4e.16c17","type":"function","z":"9aa60b0e.030db8","name":"","func":"msg.payload = \"This is a test of the function in Node-RED.\"\nmsg.topic = \"Subject: Test message from Node-RED\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":320,"wires":[["daf764bb.b7e4f8"]]}]
