flows2.json
[{"id":"4e0647aa.1348f8","type":"tab","label":"Lock/Unlock","disabled":false,"info":""},{"id":"d92087a4.a664e8","type":"ui_button","z":"4e0647aa.1348f8","name":"Lock","group":"6b208fce.acc5f","order":0,"width":0,"height":0,"passthru":false,"label":"Lock","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lock","payloadType":"str","topic":"","x":590,"y":180,"wires":[["b7ced442.18f0f8","1454b69d.47e8a9"]]},{"id":"b7ced442.18f0f8","type":"trigger","z":"4e0647aa.1348f8","name":"","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","overrideDelay":"false","units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":160,"wires":[["3161ccbf.edee34","cc537c96.2bfae"]]},{"id":"3161ccbf.edee34","type":"rpi-gpio out","z":"4e0647aa.1348f8","name":"","pin":"","set":"","level":"0","freq":"","out":"out","x":1140,"y":160,"wires":[]},{"id":"cc537c96.2bfae","type":"debug","z":"4e0647aa.1348f8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1130,"y":240,"wires":[]},{"id":"cbe6832d.413dc","type":"ui_button","z":"4e0647aa.1348f8","name":"Unlock","group":"6b208fce.acc5f","order":1,"width":0,"height":0,"passthru":false,"label":"Unlock","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":590,"y":600,"wires":[["eac3fa04.1ae9f8","583f003d.e68b4"]]},{"id":"2327dbbc.f4dc14","type":"rpi-gpio out","z":"4e0647aa.1348f8","name":"","pin":"","set":"","level":"0","freq":"","out":"out","x":1150,"y":580,"wires":[]},{"id":"eac3fa04.1ae9f8","type":"trigger","z":"4e0647aa.1348f8","name":"","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","overrideDelay":"false","units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":600,"wires":[["2327dbbc.f4dc14","4321b116.48c71"]]},{"id":"4321b116.48c71","type":"debug","z":"4e0647aa.1348f8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1150,"y":520,"wires":[]},{"id":"581f759.c24f58c","type":"debug","z":"4e0647aa.1348f8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1170,"y":680,"wires":[]},{"id":"583f003d.e68b4","type":"function","z":"4e0647aa.1348f8","name":"","func":"msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Unlock','doorbell1', DEFAULT);\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":740,"wires":[["93bbde28.d049e"]]},{"id":"dfb69f04.30d6b","type":"postgres","z":"4e0647aa.1348f8","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":1190,"y":740,"wires":[]},{"id":"93bbde28.d049e","type":"function","z":"4e0647aa.1348f8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":740,"wires":[["dfb69f04.30d6b","581f759.c24f58c"]]},{"id":"c9c15b0b.ceb6a8","type":"debug","z":"4e0647aa.1348f8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1250,"y":300,"wires":[]},{"id":"1454b69d.47e8a9","type":"function","z":"4e0647aa.1348f8","name":"","func":"msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Lock','doorbell1', DEFAULT);\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":360,"wires":[["e7947166.4d84b"]]},{"id":"40da613b.5eea6","type":"postgres","z":"4e0647aa.1348f8","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":1270,"y":360,"wires":[]},{"id":"e7947166.4d84b","type":"function","z":"4e0647aa.1348f8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":360,"wires":[["40da613b.5eea6","c9c15b0b.ceb6a8"]]},{"id":"6b208fce.acc5f","type":"ui_group","name":"Default","tab":"4ea3e602.03a598","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2b7e391.cd77a","type":"postgresdb","hostname":"doorbell-postgre-server.postgres.database.azure.com","port":"5432","db":"doorbelldb","ssl":false},{"id":"4ea3e602.03a598","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
