RPi node red test
[{"id":"2d46be07.974982","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6a913d9a.fa0844","type":"azureiothubregistry","z":"2d46be07.974982","name":"Azure IoT Hub Registry","x":470,"y":320,"wires":[["14a58301.e60a9d"]]},{"id":"2fd0a3f.969ce5c","type":"inject","z":"2d46be07.974982","name":"Register Payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"{\"deviceId\":\"doorbell1\"}","payloadType":"json","x":250,"y":320,"wires":[["6a913d9a.fa0844"]]},{"id":"14a58301.e60a9d","type":"debug","z":"2d46be07.974982","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"f775e252.a49f2","type":"debug","z":"2d46be07.974982","name":"Log","active":true,"console":"false","complete":"true","x":750,"y":260,"wires":[]},{"id":"95789379.e44d2","type":"azureiothub","z":"2d46be07.974982","name":"Azure IoT Hub","protocol":"http","x":440,"y":260,"wires":[["f775e252.a49f2"]]},{"id":"228b0f18.7799c","type":"inject","z":"2d46be07.974982","name":"Send Payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"deviceId\":\"doorbell1\",\"key\":\"Ir5+ChMUtAe4ZaLcjD1bg7fUUrFKDzSV6wZZ5wgMYno=\",\"protocol\":\"http\",\"data\":\"{pressed: 1}\"}","payloadType":"json","x":230,"y":260,"wires":[["95789379.e44d2"]]},{"id":"817f33a3.ddf5f","type":"azureiothubreceiver","z":"2d46be07.974982","name":"Azure IoT Hub Receiver","x":460,"y":420,"wires":[["c2825fc8.d6323"]]},{"id":"723d625e.52eb7c","type":"azureiothubdevicetwin","z":"2d46be07.974982","name":"Azure IoT Hub Device Twin","x":480,"y":520,"wires":[["5e9fec30.6a52f4"]]},{"id":"c2825fc8.d6323","type":"debug","z":"2d46be07.974982","name":"Log","active":true,"console":"false","complete":"true","x":750,"y":420,"wires":[]},{"id":"5e9fec30.6a52f4","type":"debug","z":"2d46be07.974982","name":"Log","active":true,"console":"false","complete":"true","x":750,"y":520,"wires":[]},{"id":"3afc72bf.5c112e","type":"inject","z":"2d46be07.974982","name":"Send DeviceId","repeat":"","crontab":"","once":false,"topic":"","payload":"device146","payloadType":"str","x":240,"y":520,"wires":[["723d625e.52eb7c"]]},{"id":"e2587acc.dc89e8","type":"rpi-gpio in","z":"2d46be07.974982","name":"","pin":"3","intype":"tri","debounce":"25","read":false,"x":170,"y":120,"wires":[["7bd1501e.bffc6"]]},{"id":"e46066a0.11f2e8","type":"debug","z":"2d46be07.974982","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"b516b705.27cb38","type":"azureiothub","z":"2d46be07.974982","name":"Azure IoT Hub","protocol":"http","x":480,"y":120,"wires":[["e46066a0.11f2e8"]]},{"id":"7bd1501e.bffc6","type":"function","z":"2d46be07.974982","name":"","func":"if (msg.payload == 1)\n{\n    msg.payload = {\n    \"deviceId\": \"doorbell1\",\n    \"key\": \"Ir5+ChMUtAe4ZaLcjD1bg7fUUrFKDzSV6wZZ5wgMYno=\",\n    \"protocol\": \"http\",\n    \"data\": \"{pressed: 0}\"\n}\n}\nelse {\n    msg.payload = {\n    \"deviceId\": \"doorbell1\",\n    \"key\": \"Ir5+ChMUtAe4ZaLcjD1bg7fUUrFKDzSV6wZZ5wgMYno=\",\n    \"protocol\": \"http\",\n    \"data\": \"{pressed: 1}\"\n}\n}\n\n\nreturn msg;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["b516b705.27cb38"]]}]
