Node-Red/flows.json
[{"id":"2d46be07.974982","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9aa60b0e.030db8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d2b7e391.cd77a","type":"postgresdb","hostname":"doorbell-postgre-server.postgres.database.azure.com","port":"5432","db":"doorbelldb","ssl":false},{"id":"168f2030.e970e","type":"postgresdb","z":"2d46be07.974982","hostname":"localhost","port":"5432","db":"postgres"},{"id":"6a913d9a.fa0844","type":"azureiothubregistry","z":"2d46be07.974982","name":"Azure IoT Hub Registry","x":470,"y":320,"wires":[["14a58301.e60a9d"]]},{"id":"2fd0a3f.969ce5c","type":"inject","z":"2d46be07.974982","name":"Register Payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"{\"deviceId\":\"doorbell1\"}","payloadType":"json","x":250,"y":320,"wires":[["6a913d9a.fa0844"]]},{"id":"14a58301.e60a9d","type":"debug","z":"2d46be07.974982","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"f775e252.a49f2","type":"debug","z":"2d46be07.974982","name":"Log","active":true,"console":"false","complete":"true","x":750,"y":260,"wires":[]},{"id":"95789379.e44d2","type":"azureiothub","z":"2d46be07.974982","name":"Azure IoT Hub","protocol":"http","x":440,"y":260,"wires":[["f775e252.a49f2"]]},{"id":"228b0f18.7799c","type":"inject","z":"2d46be07.974982","name":"Send Payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"deviceId\":\"doorbell1\",\"key\":\"Ir5+ChMUtAe4ZaLcjD1bg7fUUrFKDzSV6wZZ5wgMYno=\",\"protocol\":\"http\",\"data\":\"{pressed: 1}\"}","payloadType":"json","x":230,"y":260,"wires":[["95789379.e44d2"]]},{"id":"817f33a3.ddf5f","type":"azureiothubreceiver","z":"2d46be07.974982","name":"Azure IoT Hub Receiver","x":460,"y":420,"wires":[["c2825fc8.d6323"]]},{"id":"723d625e.52eb7c","type":"azureiothubdevicetwin","z":"2d46be07.974982","name":"Azure IoT Hub Device Twin","x":480,"y":520,"wires":[["5e9fec30.6a52f4"]]},{"id":"c2825fc8.d6323","type":"debug","z":"2d46be07.974982","name":"Log","active":true,"console":"false","complete":"true","x":750,"y":420,"wires":[]},{"id":"5e9fec30.6a52f4","type":"debug","z":"2d46be07.974982","name":"Log","active":true,"console":"false","complete":"true","x":750,"y":520,"wires":[]},{"id":"3afc72bf.5c112e","type":"inject","z":"2d46be07.974982","name":"Send DeviceId","repeat":"","crontab":"","once":false,"topic":"","payload":"device146","payloadType":"str","x":240,"y":520,"wires":[["723d625e.52eb7c"]]},{"id":"e2587acc.dc89e8","type":"rpi-gpio in","z":"2d46be07.974982","name":"","pin":"3","intype":"tri","debounce":"25","read":false,"x":170,"y":120,"wires":[["7bd1501e.bffc6"]]},{"id":"e46066a0.11f2e8","type":"debug","z":"2d46be07.974982","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"7bd1501e.bffc6","type":"function","z":"2d46be07.974982","name":"","func":"if (msg.payload == 1)\n{\n    msg.payload = {\n    \"deviceId\": \"doorbell1\",\n    \"key\": \"Ir5+ChMUtAe4ZaLcjD1bg7fUUrFKDzSV6wZZ5wgMYno=\",\n    \"protocol\": \"http\",\n    \"event_type\": \"{pressed: 0}\"\n}\n}\nelse {\n    msg.payload = {\n    \"deviceId\": \"doorbell1\",\n    \"key\": \"Ir5+ChMUtAe4ZaLcjD1bg7fUUrFKDzSV6wZZ5wgMYno=\",\n    \"protocol\": \"http\",\n    \"event_type\": \"{pressed: 1}\"\n}\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["b516b705.27cb38"]]},{"id":"b2a5fddb.5ed04","type":"postgres","z":"2d46be07.974982","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":730,"y":180,"wires":[]},{"id":"b516b705.27cb38","type":"azureiothub","z":"2d46be07.974982","name":"Azure IoT Hub","protocol":"http","x":480,"y":120,"wires":[["e46066a0.11f2e8","b2a5fddb.5ed04"]]},{"id":"245c1436.736c3c","type":"rpi-gpio in","z":"9aa60b0e.030db8","name":"","pin":"3","intype":"tri","debounce":"25","read":false,"x":350,"y":220,"wires":[["b0e69a0e.25ab78"]]},{"id":"92519c17.3a6c3","type":"debug","z":"9aa60b0e.030db8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":890,"y":220,"wires":[]},{"id":"b0e69a0e.25ab78","type":"function","z":"9aa60b0e.030db8","name":"","func":"msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Ring','doorbell1', DEFAULT);\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":280,"wires":[["83fd1f3e.679ae"]]},{"id":"53af88e2.dd8f88","type":"postgres","z":"9aa60b0e.030db8","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":910,"y":280,"wires":[]},{"id":"83fd1f3e.679ae","type":"function","z":"9aa60b0e.030db8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":280,"wires":[["53af88e2.dd8f88","92519c17.3a6c3"]]},{"id":"303ccef7.0ab132","type":"debug","z":"9aa60b0e.030db8","name":"Log","active":true,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":890,"y":500,"wires":[]},{"id":"4468dd0b.4c8e14","type":"function","z":"9aa60b0e.030db8","name":"","func":"msg.payload = \"INSERT INTO events_event ( event_type, device_id, timestamp) VALUES ('Ring','doorbell1', DEFAULT);\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":560,"wires":[["fc7b086d.b704b8"]]},{"id":"8eca0ff5.ad825","type":"postgres","z":"9aa60b0e.030db8","postgresdb":"d2b7e391.cd77a","name":"doorbell-db","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":910,"y":560,"wires":[]},{"id":"fc7b086d.b704b8","type":"function","z":"9aa60b0e.030db8","name":"convert 2","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":560,"wires":[["8eca0ff5.ad825","303ccef7.0ab132"]]},{"id":"fb60dc78.a1a28","type":"inject","z":"9aa60b0e.030db8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":520,"wires":[["4468dd0b.4c8e14"]]}]